html,
body {
  height: 100%;
  color: beige;
  text-align: center;
  background-color: #020003;
  color: white;
}

#time,
#timet {
  font-size: 15px;
  color: gray;
}

.paginate_button {
  color: white;
  border: gray 1px solid;
  padding: 7px;
  cursor: pointer;
}

.quote-hide {
  display: none;
}

.quote-box {
  text-align: center;
}

h2 {
  color: #458599;
}

#impinfo {
  margin-top: 3%;
}

#impitext {
  margin-top: -8px;

}

.help a:link {
  color: red;
}

.help a:visited {
  color: red;
}

.current {
  background-color: white;
  color: red;
}

#lua {
  margin-right: 80%;
  font-size: 20px;
}

#lasttext {
  color: gray;
}

#heading {
  font-size: 42px;
  color: red;
  justify-content: center;
  max-width: 100%;
}

footer {
  background-color: #191a1a;
  text-align: center;
  height: 350px;
  font-size: 30px !important;
}

footer div {
  margin-top: 5%;
}

#c19i {
  font-size: 23px;
}

#data,
#cicon,
#micon {
  width: 24px;
  height: 29px;
  margin-left: 1%;
}


.custom-popup .leaflet-popup-content-wrapper {
  background: red;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
}

.custom-popup .leaflet-popup-content-wrapper a {
  color: rgba(255, 255, 255, 0.5);
}

.custom-popup .leaflet-popup-tip-container {
  width: 30px;
  height: 15px;
}

.custom-popup .leaflet-popup-tip {
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #2c3e50;
}


h6 {
  margin-top: 16% !important;
  color: beige;
}

.textc {
  text-align: center;
}


.chart-container,
.chart-containe,
.chart-contain {
  position: relative;
  width: 90vw;
}

#tmdiv {
  max-width: 100% !important;
  width: 65%;
  margin-left: 18%;
}

.mlc {
  display: none;
}

img {
  width: 55px;
  height: 35px;
}

#i p {
  color: rgb(37, 75, 201);
}

#ds p {
  color: greenyellow;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.ntd {
  margin-left: 18% !important;
}

#p {
  margin-left: 11%;
}

.mr {
  margin-top: 5%;
}

#deaths,
#total,
#indian,
#discharged,
#ftr,
#rr {
  font-size: 45px;
}

#bcontainer {
  margin-top: 2%;
}

.design {
  font-family: 'IBM Plex Sans', sans-serif;
  color: white;
  margin-top: 2%;
  padding: 10px !important;
  text-align: center;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
}

#d p {
  color: red;
}

.design p {
  margin-top: 18px;
}


/** Mode */

.light {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0) !important;
}

.lighth6 {
  color: black;
}

#mode {
  position: fixed;
  margin-left: 95%;
  margin-top: -70px;
  cursor: pointer;

}

#modeimg {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.twitter-timeline {
  margin-top: 3% !important;
}

#androidicon,
#appleicon {
  height: 50px;
}

.tabs .tab a {
  color: red !important;
}

/*Black color to the text*/

.tabs .tab a:hover {
  background-color: red !important;
  color: #000 !important;
}

/*Text color on hover*/

.tabs .tab a.active {
  background-color: #fff !important;
}

/*Background and text color when a tab is active*/

.tabs .indicator {
  background-color: red !important;
}

/*Color of underline*/

.page-item.active .page-link {
  background-color: lightgrey !important;
  border: 1px solid black;
}

.page-link {
  color: black !important;
}


/** Map */

#mapid {
  height: 420px;
  width: 85%;
  margin-left: 8%;
}

#mapid2 {
  height: 420px;
  width: 50%;
}

#hd {
  margin-top: 2%;
}


#map {
  height: 380px;
}

#map_text {
  text-align: center;
  margin-top: 15%;
  margin-right: 25%;
}

.map_text_box {
  text-align: center;
  align-items: center;
}


/**  Table  */

#href img {
  width: 30px;
  height: 30px;
}

#href {
  font-size: 14px;
  color: red;
  margin-right: 22%;
  height: 50px;
  margin-left: -265px;
}

#pname {
  margin-left: 1%;
  margin-top: 2%;
  font-size: 30px;
  color: red;
}

.h {
  width: 70%;
  margin-left: 15%;
  margin-top: 2%;
}

#sname {
  margin-top: 15%;
  margin-left: 44%;
  font-size: 30px;
  color: red;
}

body {
  color: white;
}

th {
  color: red;
  text-align: center;
  background-color: black;
}

.cradius {
  border-radius: 6px !important;
}

/** Media Queries*/


@media only screen and (max-width: 420px) {

  .map_text_box {
    margin-left: 5% !important;
  }

  footer {
    font-size: 17px !important;
    height: 400px;
  }

  #c19i {
    font-size: 15px;
  }
  
  #patable {
    width: 65%;
  }

  #data,
  #cicon,
  #micon {
    width: 20px;
    height: 19px;
    margin-left: 1%;
  }
  

  #lua {
    margin-right: 0%;
  }

  table {
    font-size: 10px !important;
    margin-left: -55px;
  }

  .design {
    padding: 5px;
  }

  #heading {
    margin-left: 3%;
    font-size: 25px;
  }

  img {
    width: 38px;
    height: 23px;
  }

  .tdiv {
    width: 107%;
    margin-left: -7px;
  }


}

@media only screen and (min-width: 421px) and (max-width: 1024px) {
  #heading {
    margin-left: 18%;
    font-size: 30px;
  }


}

@media only screen and (min-width: 601px) and (max-width: 980px) {

  #mapid {
    height: 420px;
    width: 100%;
  }

  #mapid2 {
    height: 420px;
    width: 100%;
  }
}


@media only screen and (max-width: 600px) {
  #mapid {
    width: 100%;
    height: 300px;
    margin-left: 0;
  }

  #deaths,
  #total,
  #indian,
  #discharged,
  #ftr,
  #rr {
    font-size: 23px;
  }

  .ntd {
    margin-left: 8% !important;
  }

  #tmdiv {
    width: 80%;
    margin-left: 10%;
  }

  .design {
    font-size: 13px;
  }



}

@media screen and (max-width:600px) {
  .textc {

    margin-bottom: 15px;
  }

}

@media screen and (min-width:1100px) {
  .textc {

    height: 35%;
  }

}