#heading{
    font-size: 50px;
    color: red;
    justify-content: center;
    margin-left: 30%;
    max-width: 100%;

}

#tmdiv {
    max-width: 100% !important;
    width: 85%;
    
}


#table{
  margin-left:25%;
  width: 50% !important;
  margin-top: 1%;
  display: inline-table;
  margin-bottom: 3%;
  border: solid rgb(255, 255, 255) 1px;
  overflow-x: auto;
}

td,th {
  padding: 15px;
  text-align: center;
  border: 1px solid rgb(255, 255, 255);
}

.tdiv {
  width: 80%;
  margin-left: 15%;
}

.mlc {
  display: none;
}


#mapid { height: 420px; width: 50%;}
#mapid2 { height: 420px; width: 50%;}

#hd {
    margin-top: 2%;
}


#map {
    height: 380px;
}

#map_text {
    font-size: 43px;
    text-align: center;
    margin-top: 15%;
    margin-right: 25%;
}

#map_div {
    margin-top: 1%;
    width: 100% !important;
}

.map_text_box {
    text-align: center;
    align-items: center;
}


img {
  width: 100px;
  height: 80px;
}

#i p{
  color: rgb(37, 75, 201);
}

#ds p {
  color: greenyellow;
}

.light {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0) !important;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

#mode {
  position: fixed;
  margin-left: 95%;
  margin-top: -70px;
  cursor: pointer;
 
}

#modeimg {
  width: 32px;
  height: 32px;
  cursor: pointer;

}

#datalink {
  width: 81%;
  margin-top: -38px;
}

.design {
  color: #aaaaaa;
    margin-top: 5%;
    margin-left: 2%;
    padding: 10px;
    text-align: center;
    background-color: #262529;
    
   border-radius: 10px;
  font-size: 20px;
}

.design1 {
  color: #111010;
    margin-top: 5%;
    margin-left: 2%;
    padding: 10px;
    text-align: center;
    background-color: #cad2d3;
   border-radius: 10px;
  font-size: 20px;
}


#d p {
  color: red;
}

#t,#ds {
  font-weight: bold;
}

/*#d {
    background-color: red;
    animation-name: blinking;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes blinking {
    0%   {background-color: red;}
    50%  {background-color: black;}
    100% {background-color: red;}
  }*/

body{

    background-color: black;
    color: white;
}
.design p {
    margin-top: 20px ;
}


@media only screen and (max-width: 420px) {
  
  #table{
    margin-left: 1%;
    width: 30%;
  }

  .design {
    font-size: 14px;
    padding: 5px;
  }
  #heading {
    margin-left: 3%;
    font-size: 25px;
  }
  img {
    width: 38px;
    height: 23px;
  }
  .tdiv {
    width: 107%;
    margin-left: -7px;
  }

 
}

@media only screen and (min-width: 421px) and (max-width: 1024px) {
  #heading {
    margin-left: 18%;
    font-size: 30px;
  }
 
  
}

@media only screen and (max-width: 600px) {
#mapid {
  width: 80%;
  margin-left: 10%;
margin-top: 15%;
height: 300px;
}


}

#statewise {
  margin-left: 42%;
  margin-top: 1%;
  color: red;
  font-size: 40px;
}